#nav {
    margin-left: 16px;
}

.dados {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-width: 3px;
    border-color: blue;
}

.fieldlabel {
    position: relative;
}

.fieldlabel .chkbox {
    position: absolute;
    left: 2px;
    top: 2px;
}

#scoretable .text-strike {
    text-decoration: line-through;
}

.btn {
    min-width: 50px;
}

#scorerowtotal {
    font-weight: bold;
    font-size: 22px;
}

@media only screen and (max-width: 540px) {
    #blocos {
        display: inline-block !important;
    }
    .card-body {
        padding-top: 0;
    }
    .dados {
        margin-top: 15px;
        margin-right: 15px;
    }
    .fieldlabel .chkbox {
        position: absolute;
        left: 0px;
        top: 15px;
    }
}