#nav {
    margin-left: 16px;
}

.dados {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-width: 3px;
    border-color: blue;
}

.fieldlabel {
    position: relative;
}

.fieldlabel .chkbox {
    position: absolute;
    left: 2px;
    top: 2px;
}

@media only screen and (max-width: 540px) {
    #blocos {
        display: inline-block !important;
    }
    .dados {
        margin-top: 3px;
    }
}